.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 1rem 0;
  margin: 0;
  margin-bottom: 1.75rem;
  font-size: 0.7em;
  margin-left: 20px;
  margin-right: 20px;
}

.link{
  color: #1976d2;
}